<ion-header>
  <ion-toolbar class="ion-no-padding header-color">
    <div class="my-2 text-center">
    <!-- <span [routerLink]="'/'"><img src="../../assets/caret-left-light.png" width="30px" alt=""></span> -->
    <span class="text-white h4">
      Login
    </span>
</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="first ion-text-center pt-3">
      <span class="header-number">1</span><span class="header-number-b">2</span>
    </div>
    <div class="seccond ion-text-center">
      <img src="../../assets/icon.png" height="100px">
    </div>
    <div class="third">
      <label>Phone:</label>
      <input type="number" class="w-100 input-text" placeholder="Enter your mobile number">
    </div>
    <div class="four">
      <button type="button" [routerLink]="'/otp'" class="btn my-3 bg-green text-white w-100">Login</button>
    </div>
  </div>
</ion-content>