<ion-tabs class="bg-green">

  <ion-tab-bar slot="bottom" class="bg-green">
    <ion-tab-button tab="tab1" class="bg-green">
      <ion-icon name="home"></ion-icon>
      <ion-label class="font-tab">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="bg-green">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label class="font-tab">Add Product</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="bg-green">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label class="font-tab">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  
</ion-tabs>
