.header-color{
     --background: #3FD5A5;
}
.slider-img{
  border-radius: 8px;
   width: 95%;
   object-fit: fill;
}
.heart-shaw{
     font-size: 18px;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px #ccc;
}