.container {
  height: 100%;
//   background-image: url(../../assets/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // position: absolute;
  position: fixed;
}
.first{
  height: 10%;
}
.seccond{
    height: 20%;
}
.third{
  height: 50%;
}
.four{
  height: 20%;
}