<ion-header>
  <ion-toolbar class="ion-no-padding header-color">
    <div class="my-2 text-center">
      <!-- <span *ngIf="id==='1'" [routerLink]="'/embroidery/1'"><img src="../../assets/caret-left-light.png" width="30px" alt=""></span> -->
      <!-- <span *ngIf="id!='1'" [routerLink]="'/tab1'"><img src="../../assets/caret-left-light.png" width="30px" alt=""></span> -->
      <span class="text-white h4">
        List
      </span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="search-toolbar">
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
  <div class="">
    <div *ngIf="id==='1'">
      <h3 class="pl-3">Embroidery Machine List</h3>
      <ion-card *ngFor="let card of product" class="border-r my-4" [routerLink]="'/productdetails/'+card.id">
        <img src={{card.img}} height="140px" width="100%" />
        <div class="text-card-title text-dark font-weight-bold pt-2 pl-3 mb-0">
          Sky model Avtar
        </div>
        <div class="card-title-price color-green pl-3 mb-0 ">Rs 1,00,000</div>
        <ion-list>
          <ion-item lines="none">
            <p slot='end' class="color-grew">3 Years</p>
            <ion-icon slot="end" class="color-green mt-0 heart-font" *ngIf="condition" (click)="heart($event)" name="heart-outline">
            </ion-icon>
            <ion-icon slot="end" class="color-green mt-0 heart-font" *ngIf="!condition" (click)="heart($event)" name="heart">
            </ion-icon>
            <ion-item class="ion-no-padding" lines="none">
              <!-- <ion-avatar slot="start">
                <img src="../../assets/2.jpg">
              </ion-avatar> -->
              <ion-label class="mt-0">
                <!-- <h3>24 Head</h3> -->
                <h3>Cording + Sequin</h3>
                <p>
                  <ion-icon name="location-outline" class="location"></ion-icon>Surat,Gujrat
                </p>
              </ion-label>
            </ion-item>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div *ngIf="id!='1'">
      <!-- <h3 class="pl-3">List</h3> -->
      <div class="row mx-0">
        <div class="col-6 px-0" *ngFor="let card of productlist">
          <ion-card  class="border-r m-2" (click)="setId()" [routerLink]="'/productdetails/'+card.id">
            <img src={{card.img}} height="140px" width="100%" />
            <div class="set-heart-on-coner">
            <ion-icon slot="end" class="color-green mt-0 heart-shaw shadow-lg" *ngIf="condition" (click)="heart($event)" name="heart-outline">
            </ion-icon>
            <ion-icon slot="end" class="color-green mt-0 heart-shaw shadow-lg" *ngIf="!condition" (click)="heart($event)" name="heart">
            </ion-icon>
            </div>
            <div class="text-card-title text-dark font-weight-bold pt-2 pl-3 mb-0">
              Sky model
            </div>
            <div class="card-title-price color-green pl-3 mb-0 ">Rs 1,00,000</div>
            <p class="pl-3 mb-1">Cording + Sequin</p>
            <p class="pl-3 mb-1"> <ion-icon name="location-outline"></ion-icon> Surat,Gujrat</p>
          </ion-card>
        </div>
      </div>
      
    </div>
</div>
</ion-content>
